

@font-face {
	font-family: 'Geometria';
	src: url('Geometria-Medium.eot');
	src: local('Geometria Medium'), local('Geometria-Medium'),
		url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-Medium.woff') format('woff'),
		url('../fonts/Geometria-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('Geometria-Bold.eot');
	src: local('Geometria Bold'), local('Geometria-Bold'),
		url('../fonts/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-Bold.woff') format('woff'),
		url('../fonts/Geometria-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@charset "UTF-8";
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{/*! font-family:sans-serif; */-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}h1{margin:0;color: #fff;line-height: 1;font-weight: bold;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:60%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
ul{list-style:none; padding: 0;}
* {padding: 0; margin: 0; box-sizing: border-box;}

:root {
  --color-main: #1ECAD3;
}
 
html, body {font-family: 'Geometria'; font-weight: 500; color: #76777A; font-size:19px;line-height: 1.25;font-size: 19px;box-sizing: border-box;color: #76777A;overflow-x: hidden;}
body {/*! overflow-x: hidden; */}
h1{font-size: 31px;text-transform: uppercase;max-width: 425px;}
h2{font-size: 38px;font-weight: 500;}

 

.instruction.container{padding-top: 30px;max-width: 1200px;}
.instruction.container p {margin-bottom: 1.2em;}
.instruction.container ul {margin-bottom: 1.2em;padding-left: 1.4em;list-style: disc;}
.instruction.container ul li {}
.instruction.container u{}


header{background-color: var(--color-main);position: relative;z-index: 1;border-bottom: solid 1px var(--color-main);}
header .container{display: flex;justify-content: space-between;max-width: 1070px;}
.container{width: 100%;max-width: 1276px;padding: 0 23px;margin: 0 auto;}
.header-logo{height: 70px;display: flex;}
.header-logo-img{}
.header-menu{display: flex;gap: 239px;align-items: center;margin-bottom: 0;}
.header-menu > li, .header-menu >li>a {font-size: 20px;color: inherit;text-decoration: none;cursor: pointer;padding: 21px 0;position: relative;color: var(--color-main);white-space: nowrap;}
.header-menu > li:hover, .header-menu >li>a:hover{text-decoration: underline}
.header-menu > li:hover > ul{display: block}
.header-submenu{display:none;position: absolute;/*! background-color: #007E84; */width: 302px;border-radius: 17px;padding: 22px 20px;top: 53px;left: 50%;transform: translateX(-50%);box-shadow: inset 1px 1px 10px rgba(255, 255, 255, 0.6);filter: drop-shadow(5px 5px 11.4px rgba(0, 0, 0, 0.25));backdrop-filter: blur(9.15px);}
.header-submenu a{font-size: 16px;text-decoration: none;font-weight: bold;color: #fff;display: inline-block;padding: 7px 0;}
.header-submenu a:hover{/*! border-bottom:solid 1px currentColor */color: #007E84;}
.header-submenu li {padding: ;}
.btn-header-menu{display: none}

.top{position: relative;}
.top-img{font-size: 0;background-image: url(../img/top-pattern.png);background-size: auto 100%;}
.top-img img {height: 458px;margin: 0 auto;display: block;transform: translateX(-48.2%);}
.top-text{position: absolute;top: 0;left: 50%;width: 580px;transform: translateX(calc(50% - 156px));padding-top: 53px;display: flex;flex-wrap: wrap;gap: 64px 34px;}
.top-text-list{font-size: 24px;color: #fff;display: flex;flex-direction: column;gap: 0.6em;}
.packs{display: flex;justify-content: space-between;align-items: flex-end;padding-top: 37px;padding-bottom: 35px;}
.packs-left{width: 54.9%;}
.packs-left-img{width: 100%;}
.packs-icons{display: flex;margin-top: 22px;gap: 8px;justify-content: flex-start;}
.packs-icon-item{display: flex;max-width: 329px;align-items: flex-start;gap: 12px;}
.packs-icon-item img{width: 58px;flex: 1 1 auto;}
.packs-icon-item-text{font-size: 19px;}
.packs-right{width: 43%;}
.packs-right-img{width: 84%;}
.section-title{background-color: var(--color-main);text-align: center;color: #fff;padding: 10px;}
.section-title.bg-light-green{background-color:#68DBE2}
.why{display: flex;margin-top: 30px;margin-bottom: 21px;}
.why-item{width: 25%;text-align: center;padding: 31px 20px 0px 20px;border-right: solid 1.45px var(--color-main);}
.why-item:last-child{border: none}
.why-item img{width: 157px;margin-bottom: 21px;}
.why-item p{font-size: 19px;}
.notes{width: 100%;color: #BEBEBE;font-size: 11px;border-top: solid 1.45px currentColor;padding-top: 10px;margin-bottom: 10px;}
.diag{}
.diag-picture{width: 100%;margin: 30px 0 25px 0;display: block;}
.diag-picture img{width: 100%}
.diag-list{display:none}
ul.styled li{padding-left: 21px;position: relative;line-height: 1.3;}
ul.styled li:before{content:"";position: absolute; width: 6px; height: 6px; background-color: currentColor;border-radius: 59%;left: 0;top: 12px;}
.color1{color: #1ECAD3;}
.color2{color: #4BB8D8;}
.color3{color: #57A6D9;}
.color4{color: #9590CB;}
.color5{}
.mehanism{display: flex;gap: 10px;margin: 44px 0;}
.mehanism-left{width: 35%;}
.mehanism-title{font-size: 21px;margin-bottom: 22px;}
.mehanism-title b{font-size: 24px;}
.color-main{color: var(--color-main);}
.mehanism-img{width: 30%;}
.mehanism-img img{width: 100%}
.mehanism-right{width: 35%;}
.how{display: flex;flex-wrap: wrap;gap: 40px 120px;margin-top: 38px;justify-content: flex-start;}
.how-column{width: calc(50% - 137px);}
.how-title{padding-left: 90px;font-size: 24px;margin-bottom: 29px;}
.how-list{display: flex;flex-direction: column;gap: 28px;}
.how-item{display: flex;gap: 29px;align-items: flex-start;}
.how-item img{width: 60px;}
.apteki-wrapper{display: flex;justify-content: space-between;padding: 42px 0;}
.apteki-group{display: flex;flex-direction: column;align-items: center;gap: 40px;}
.apteki-title{text-align: center;color: var(--color-main);font-weight: bold;font-size: 32px;margin-bottom: 19px;}
.apteki-item{text-align: center;width: 226px;height: 51px;object-fit: contain;transition: all 0.3s ease-in-out;filter: grayscale(100%);opacity: 0.5;}
.apteki-item:hover{filter: grayscale(0%);  opacity: 1;}
.apteki-item img{width:100%}
.apteki-item a{/*! display: inline-block; */height: 100%;}
.footer-grey{background-color: #76777A;color: #fff;padding-bottom: 12px;}
.footer-wrapper{display: flex;align-items: center;font-size: 15px;padding: 10px 0 0 0;gap: 74px;border-bottom: solid 1px #fff;margin-bottom: 10px;}
.footer-logo{width: 87px;}
.footer-contacts{}
.footer-notes{font-size: 12px;text-align: center;}
.footer-green{background-color: var(--color-main);padding: 16px 0 3px 0;}
.legal{width: 100%;}
.btn-instruction{background: #1ECAD3;border-radius: 92px;font-weight: 500;font-size: 24px;text-align: center;color: #FFFFFF;line-height: 30px;border: none;padding: 11px 87px 11px 51px;position: relative;display: inline-block;margin: 68px auto 41px auto;text-decoration: none;}
.btn-instruction:after{content: ""; position: absolute;background-image: url(../img/pdf.png);width: 86px;height: 100px;background-size: contain;background-position: center;background-repeat: no-repeat;top: -34px;right: -15px;}
@media (max-width: 1500px) {
	.top-img img{transform: translateX(-46%);}
	.top-text{transform: translateX(calc(50% - 215px));}
}


@media (max-width: 1360px) {
	h1{font-size: 30px;}
	.top-text-list {font-size: 20px;}
	.top-img img{height: 400px;}
	h2{font-size: 36px;}
}

@media (max-width: 1200px) {
	body {font-size: 16px;}
	h1{font-size: 29px;}
	.top-text-list {font-size: 16px;}
	.top-img img{height: 350px;}
	.packs-icon-item-text{font-size: 16px}
	.packs-icon-item{max-width: 264px;}
	.packs-right{width: 45%}
	h2{font-size: 32px;}
	.why-item p {font-size: 16px;}
}

@media (max-width: 1024px) { 
	body {font-size: 14px;}
	body.fixed{overflow: hidden;height: 100vh;}
	h1{font-size: 19px;max-width: 278px;}
	.top-text-list {font-size: 14px;}
	.top-img img{height: 237px;transform: translateX(-54%);}
	.top-text { transform: translateX(calc(50% - 215px)); width: 443px;gap: 15px 22px;}
	.packs-icon-item-text{font-size: 14px}
	.packs-icon-item img {width: 40px;}
	.packs-icon-item{ max-width: 219px;}
	.packs-left {width: 50%;}
	h2{font-size: 30px;}
	.why-item p{font-size: 14px}
	.why-item img{width: 110px;}
	.why-item{padding: 15px 10px 0px 10px;}
	.how{justify-content: center;gap: 30px 60px;}
	.how-column{width: calc(50% - 67px);}
	.how-title{font-size: 20px;}
	.apteki-title{font-size: 26px;margin-bottom: 0;}
	.apteki-item{width: 170px;height: 30px;}
	.footer-wrapper{gap: 20px;}
	.mehanism-title{font-size: 20px;}
	.btn-instruction {font-size: 14px;line-height: 17px; padding: 11px 70px 11px 28px;margin: 68px auto 41px auto;}
	.btn-instruction::after{width: 63px;right: -2px;}
}

@media (max-width: 768px) { 
	h1{max-width: 323px;width: 100%;font-size: 22px;letter-spacing: 0.02em;margin-right: calc(100% - 323px);line-height: 1.1;margin-bottom: 5px;}
	h2{font-size: 17px;line-height: 1;}
	header{}
	header .container{padding: 0 47px;}
	ul.styled li::before { width: 3px;height: 3px;left: 0;top: 6px;}
	.container{}
	.btn-header-menu{display: block;background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='15' viewBox='0 0 20 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='20' height='3' fill='white'/%3E%3Crect y='6' width='20' height='3' fill='white'/%3E%3Crect y='12' width='20' height='3' fill='white'/%3E%3C/svg%3E");background-color: transparent;border: none;width: 30px;height: 30px;background-repeat: no-repeat;background-position: center;position: absolute;right: 15px;top: 5px;cursor: pointer;}
	.header-logo{width: 123px;height: 42px;}
	.header-logo-img{width: 100%;height: auto;}
	.header-menu{display: none;}
	.header-menu.opened{display: block;position: fixed;width: 100vw;height: 100vh;/*! background-color: #fff; */left: 0;position: relative;position: absolute;/*! width: 393px; *//*! height: 61px; */left: 0px;top: 0px;/*! box-shadow: inset 1px 1px 10px rgba(255, 255, 255, 0.6); *//*! filter: drop-shadow(5px 5px 11.4px rgba(0, 0, 0, 0.25)); *//*! backdrop-filter: blur(20px); */background-color: #fff;}
	.header-submenu{display: block;box-shadow: none;backdrop-filter: none;filter: none;width: 100%;padding: 0 40px;}
	.btn-header-menu.opened{ background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2' viewBox='0 0 12 12'%3E%3Cpath d='M12.2 10.6 1.6 0 0 1.6l10.6 10.6 1.6-1.6Z' style='fill:%23007E84;'/%3E%3Cpath d='M10.6 0 0 10.6l1.6 1.6L12.2 1.6 10.6 0Z' style='fill:%23007E84;'/%3E%3C/svg%3E");background-size: 18px;}
	.header-menu > li, .header-menu >li>a {padding: 0 40px;margin-top: 100px;}
	.header-menu > li:hover, .header-menu >li>a:hover{ }
	.header-menu > li:hover > ul{ }
	.header-submenu{}
	.header-submenu a{color: #007E84;}
	.header-submenu {}
	.header-submenu li {}
	.top{flex-direction: column-reverse;display: flex;background-image: url(../img/top-pattern.png);}
	.top-img{position: static;}
	.top-img img {transform: none;height: auto;width: 102%;margin-left: -5%;margin-top: -5%;}
	.top-text{position: static;width: 100%;transform: none;padding: 18px 46px;}
	.top-text-list{font-size: 12px;}
	.packs{flex-direction: column;padding-bottom: 10px;}
	.packs-left{width: 100%;/*! padding-left: 9%; */margin-top: -6%;border-bottom: solid 1px var(--color-main);padding-bottom: 17px;margin-bottom: 20px;}
	.packs-left-img{padding-left: 10%;}
	.packs-icons{margin-top: 13px;gap: 12%;padding-left: 10px;}
	.packs-icon-item{gap: 6px;max-width: 158px;}
	.packs-icon-item img{width: 34px;}
	.packs-icon-item-text{font-size: 10px;}
	.packs-right{width: 100%;}
	.packs-right-img{width: 100%;padding-left: 10%;padding-right: 18%;}
	.section-title{}
	.why{flex-direction: column;margin-top: 14px;gap: 24px;}
	.why-item{width: 100% !important;display: flex;text-align: left;padding: 0;gap: 19px;align-items: center;border: none;}
	.why-item:last-child{}
	.why-item img{width: 56px;margin-bottom: 0;}
	.why-item p{}
	.notes{font-size: 8px;}
	.diag{}
	.diag-picture{margin-top: -20px;width: 97%;margin: 10px auto 0px auto;}
	.diag-picture img{}
	.diag-list{display: flex;flex-direction: column;margin-bottom: 25px;gap: 18px !important;}
	.diag-list li{font-size: 15px;}
	ul.styled li{padding-left: 11px;}
	ul.styled {gap: 0.35em;}
	.color1{}
	.color2{}
	.color3{}
	.color4{}
	.color5{color: #B47AAF;}
	.mehanism{flex-direction: column;margin-top: 0;}
	.mehanism-left{width: calc(100% + 46px);background-color: var(--color-main);margin: 0 -23px;padding: 23px 23px 116px 23px;}
	.mehanism-left p {color: #fff}
	.mehanism-title{font-size: 14px;}
	.mehanism-title b{font-size: 16px;}
	.color-main{}
	.mehanism-img{width: 63%;margin: -17px auto 0 auto;}
	.mehanism-img img{margin-top: -100px;}
	.mehanism-right{width: 100%;}
	.how{margin-top: 17px;}
	.how-column{width: 100%;border-bottom: solid 1px var(--color-main);padding-bottom: 19px;}
	.how-column+.how-column{border-bottom:none; padding:0}
	.how-title{font-size: 16px;margin-bottom: 15px;padding-left: 61px;}
	.how-list{gap: 11px;}
	.how-item{gap: 17px;}
	.how-item img{width: 44px;}
	.apteki-wrapper{}
	.apteki-group{}
	.apteki-title{font-size: 14px;}
	.apteki-item{width: 96px;height: 0;}
	.apteki-item img{}
	.apteki-item a{}
	.footer-grey{}
	.footer-wrapper{}
	.footer-logo{width: 62px;}
	.footer-contacts{font-size: 9px;}
	.footer-notes{font-size: 8px;}
	.footer-green{}
	.legal{}
}